@model Park
@{
    ViewData["Title"] = "Detail";
    //int HighTempDanger = 75;
    //int TempDifferenceAdvisory = 20;
    //int LowTempDanger = 20;

    string unit = Convert.ToString(TempData["unit"]) == "C" ? "" : "?unit=us";
}
<center><h1 class="outlined">@Model.Name</h1></center>
<center><img class="detail-img" src="~/images/parks/@(Model.Code).jpg" alt="@Model.Name" /></center>


<div class="card">
    <p>
        Welcome to @Model.Name located in the @Model.Climate.ToLower() climate of @Model.State!
        @Model.Name joined the ranks of the National Parks in @Model.YearFounded and covers an area of @Model.Acreage.ToString("N0") acres at an elevation of @(Model.ElevationInFeet.ToString("N0"))ft. above sea level.
        We boast an immense @Model.MilesOfTrail miles of hiking trails
        @if (@Model.NumberOfCampsites != 0)
        {
            <text> and @Model.NumberOfCampsites campsites</text>
        }
        available to the public.
        You might see as many as @Model.NumberOfAnimalSpecies types of animals here, like maybe a fox or a moose!
        @if (@Model.InspirationalQuoteSource != "Unknown")
        {
            <text> @Model.InspirationalQuoteSource</text>
        }
        else
        {
            <text>Someone </text>
        }
        once said about us, "@Model.InspirationalQuote" So come check it out and see for yourself!
        Admission is
        @if (@Model.EntryFee != 0)
        {
            <text> just a modest @Model.EntryFee.ToString("C"). </text>
        }
        else
        {
            <text>free, so you've got no excuse! </text>
        }
        The @Model.AnnualVisitorCount.ToString("N0") people that come see us every year can't be wrong!
    </p>
    <p>@Model.Description</p>
</div>

<a class="weatherwidget-io" id="weather" href="https://forecast7.com/en/@Model.WeatherUrlSlice/@unit" data-label_1="@Model.Name.ToUpper()" data-label_2="WEATHER" data-icons="Climacons Animated" data-days="5" data-theme="original" data-basecolor="#226594">@Model.Name.ToUpper() WEATHER</a>

<button id="convertBtn" onclick="toggleTemp();">Convert To Celsius</button>

@*
    <h3>Five Day Forecast</h3>
    <div class="card">
        <div class="unit-swap">
            Change Temperature Units:
            <a asp-controller="Home" asp-action="ChangeUnits" asp-route-parkCode="@Model.Code" asp-route-unit="F">Fahrenheit</a> |
            <a asp-controller="Home" asp-action="ChangeUnits" asp-route-parkCode="@Model.Code" asp-route-unit="C">Celcius</a> |
            <a asp-controller="Home" asp-action="ChangeUnits" asp-route-parkCode="@Model.Code" asp-route-unit="K">Kelvin</a>
        </div>
        <br />
        @for (int i = 0; i < Model.FiveDayForecast.Count && i < 5; i++)
        {
        <div class="weather-@((i==0)?" big":"small")">
            <center>@DateTime.Today.AddDays(i).DayOfWeek</center>
            <img src="~/images/weather/transparent/@(new string(Model.FiveDayForecast[i].Forecast.Where(c => !Char.IsWhiteSpace(c)).ToArray())).png" alt="@Model.FiveDayForecast[i].Forecast" />
            @{
            string high = Model.FiveDayForecast[i].HighTemp;
            string low = Model.FiveDayForecast[i].LowTemp;
            }
            @if (i == 0)
            {
            <center>High: @high   Low: @low</center>
            <div>
                Just Remember:
                <ul>
                    @if (Model.FiveDayForecast[i].Forecast == "snow")
                    {
                    <li>Pack Your Snowshoes</li>
                    }
                    @if (Model.FiveDayForecast[i].Forecast == "rain")
                    {
                    <li>Pack Your Rain Gear</li>
                    <li>Wear Waterproof Shoes</li>
                    }
                    @if (Model.FiveDayForecast[i].Forecast == "thunderstorms")
                    {
                    <li>Seek Shelter During a Storm</li>
                    <li>Avoid Hiking on Exposed Ridges</li>
                    }
                    @if (Model.FiveDayForecast[i].Forecast == "sunny")
                    {
                    <li>Pack Your Sunblock</li>
                    }
                    @if (Model.FiveDayForecast[i].HighTempF >= HighTempDanger)
                    {
                    <li>Bring an Extra Gallon of Water</li>
                    }
                    @if (Model.FiveDayForecast[i].HighTempF - Model.FiveDayForecast[i].LowTempF >= TempDifferenceAdvisory)
                    {
                    <li>Wear Breathable Layers</li>
                    }
                    @if (Model.FiveDayForecast[i].LowTempF <= LowTempDanger)
                    {
                    <li>Be Aware of the Dangers of Exposure to Frigid Temperatures</li>
                    }
                    <li>Have a Great Day!</li>
                </ul>
            </div>
            }
            else
            {
            <center>High: @high</center>
            <center>Low: @low</center>
            }
        </div>
        }
    </div>
*@
@if (Model.MapUrlSlice != null)
{
    <h3 class="outlined">Get Directions:</h3>
    <iframe src="https://www.google.com/maps/embed?pb=@Model.MapUrlSlice" width="100%" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
}