@model IList<Park>
@{
    ViewData["Title"] = "FavoritePark";
}

<body>
    <div class="card result-wrapper">
        <div class="result-image">
            <a asp-controller="Home" asp-action="Detail" asp-route-code="@Model[0].Code"><img src="~/images/parks/@(Model[0].Code).jpg" /></a>
        </div>
        <div class="result-text">
            <h2>The favorite park as voted by users:</h2>
            <a asp-controller="Home" asp-action="Detail" asp-route-code="@Model[0].Code"><h1 class="winner">@Model[0].Name</h1></a>
            <p class="votes">Votes: @Model[0].NumberOfVotes</p>
            <p>@Model[0].Description</p>
        </div>

    </div>

    @for(int i = 1; i < Model.Count; i++)
    {
    <div class="card result-wrapper">


        <div class="result-image">
            <a asp-controller="Home" asp-action="Detail" asp-route-code="@Model[i].Code"><img src="~/images/parks/@(Model[i].Code).jpg "/></a>
        </div>

        <div class="result-text">
            <a asp-controller="Home" asp-action="Detail" asp-route-code="@Model[i].Code"><h2>@Model[i].Name</h2></a>
            <p class="votes">Votes: @Model[i].NumberOfVotes</p>
            <p>@Model[i].Description</p>
        </div>
    </div>
    }

</body>
